Repository modelcontextprotocol/servers, pull requests merged in 2025-03, with the labels that each got.

#589 Fix misleading edit_file functionality docs in filesystem README
  src/filesystem/README.md
Labels: bug, server-filesystem

#977 Add Calculator MCP Server to README.md
  README.md
Labels: add-community-server

#1073 Keboola mcp server
  README.md
Labels: add-official-server

#1059 Add iFlytek Workflow MCP Server in README file
  README.md
Labels: add-community-server

#1076 Add SingleStore MCP server to README
  README.md
Labels: add-community-server

#694 Fix: Handle null description in GitHub label schema
  src/github/common/types.ts
Labels: bug, server-github

#603 Added fetch package #556
  src/github/index.ts
Labels: bug, server-github

#721 bugfix(gitlab): Make owner and fork properties optional to fix GitLab error "Invalid arguments"
  src/gitlab/schemas.ts
Labels: bug, server-gitlab

#774 fix(gitlab): Invalid arguments error when using v4 API for gitlab.com
  src/gitlab/schemas.ts
Labels: bug, server-gitlab

#607 fix: detached frame error & feature: Puppeteer launch arguments support
  src/puppeteer/README.md
  src/puppeteer/index.ts
Labels: bug, server-puppeteer

#1086 Fix typo in mcp_server_fetch
  src/fetch/src/mcp_server_fetch/server.py
Labels: bug, server-fetch

#816 feat(fetch): add support for using proxy for requests
  src/fetch/README.md
  src/fetch/pyproject.toml
  src/fetch/src/mcp_server_fetch/__init__.py
  src/fetch/src/mcp_server_fetch/server.py
Labels: enhancement, server-fetch
